/* First Mobile View -------------------------------------------------- */

.table-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.img-Instrument{
    width:30px;
    margin-right: 10px;
}

table{
    width: 100vh;
    text-align: center;
}

th, tr, td {
    padding: 10px
}

/* Computer View -------------------------------------------------- */

@media only screen and (min-width: 901px) {

.table-container{
    border: 1px solid;
    width: max-content;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
}

}