@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100&display=swap');

.logo {
    width: 100px;
    margin-right: 5px;
    background-color: transparent;
}

.categories {
    font-family: 'Poppins', sans-serif;
}

.element-cat {
    margin-left: 13px;
    text-decoration: none;
    color: rgb(83, 77, 77);
}

.elemento-cat:hover{
    text-shadow: 1px 1px 2px #3b3b3b;
}

.allegro {
    font-size: 27px;
    color: black;
}

.market {
    color: black;
    font-size: 16px;

}

.name-shop {
    text-decoration: none;
}

.cart-widget {
    text-decoration: none;
}
