@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100&display=swap');

.logo {
    width: 60px;
    margin-right: 5px;
}

.categories {
    font-family: 'Poppins', sans-serif;
}

.element-cat {
    margin-left: 25px;
    text-decoration: none;
    color: rgb(83, 77, 77);
}

.element-cat:hover{
    text-shadow: 1px 1px 2px #3b3b3b;
}

.allegro {
    font-size: 27px;
    color: rgb(0, 0, 0);
}


.name-shop {
    text-decoration: none;
}

.cart-widget {
    text-decoration: none;
}
